*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: #e2e8f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li{
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 75px 100px 1fr;
    min-height: 100vh;
}

aside{
    grid-area: 1/1/4/2;
    background: #1992d4;
    padding: 20px;
    color: white;
}

header{
    grid-area: 1/2/2/3;
    background: white;
    display: grid;
    grid-template-columns: auto 5fr 1fr auto auto;
    gap: 20px;
    align-items: center;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}

nav{
    grid-area: 2/2/3/3;
    background: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1);
    z-index: 1;
    position: relative;
}

main{
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}

main .projects{
    grid-area: 1/1/3/2;
    padding-right: 20px;
}

h1{
    font-size: 1.25rem;
    margin: 15px 0;
    font-weight: 600;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card{
    border-radius: 10px;
    background: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.yellow-border{
    border-left: 8px solid #f0b42a;
}

.card h3{
    font-size: 1.1rem;
    font-weight: 600;
}

.card .description{
    color: #777;
    font-size: .9rem;
}

.card .actions{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 20px;
    align-self: end;
    margin-top: 15px;
    margin-right: 10px;
}

.card strong{
    font-size: .8rem;
    display: block;
}

.card .info-text{
    font-size: .7rem;
    color: #777;
}

.announcement-list li:not(:last-of-type){
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 20px;
}

.announcement-list li:not(:first-of-type){
    padding-top: 20px;
}

main .announcements{
    grid-area: 1/2/2/2;
}

main .trending{
    grid-area: 2/2/3/3;
}

.icon{
    filter: brightness(0%);
}

aside .icon{
    color: black;
    filter: unset;
}

input{
    background: #e2e8f0;
    border-radius: 25px;
    height: 30px;
    border: none;
}

img.alert{
    justify-self: end;
}

.username{
    font-weight: bold;
    font-size: 1.15rem;
    padding-right: 30px;
}

.profile-small{
    width: 50px;
}

.user-section{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.user-section .profile-big{
    width: 70px;
    margin-right: 20px;
}

.user-section .hello{
    font-size: .8rem;
    font-weight: bold;
}

.user-section .username{
    font-size: 1.5rem;
}

.profile-small, .profile-big{
    border-radius: 50%;;
}

ul.profile-menu li{
    display: inline;
    margin: 10px;
}

button{
    border-radius: 25px;
    background: #1992d4;
    border: none;
    padding: 10px 25px;
    color: white;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .75px;
}

ul.main-menu, ul.about-menu{
    display: grid;
    gap: 20px;
    margin-top: 60px;
}

ul.main-menu li, ul.about-menu li{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 1.3rem;
}

ul li img{
    margin-right: 20px;
}

.logo{
    font-size: 1.6rem;
}

