body {
    margin: 0;
    padding: 0;
    background: #e2e8f0;
}

.container{
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 75px 100px 1fr;
    min-height: 100vh;
}

aside{
    grid-area: 1/1/4/2;
    background: #1992d4;
}

header{
    grid-area: 1/2/2/3;
    background: white;
}

nav{
    grid-area: 2/2/3/3;
    background: white;
}

main{
    grid-area: 3/2/4/3;
}

